* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;

}

#container {
    margin: auto;
    width: 50%;

}
.box_1 {
    background-color: blanchedalmond;
    border: 2px solid red;
    width: 500px;
    padding: 20px 60px 20px 60px;
}

.box_1 h1 {
    color: red;
}

.box_2 {
    background-color: blanchedalmond;
    border: 2px solid red;
    width: 500px;
    padding: 20px 60px 20px 60px;
}

.category {
    margin-top: 10px;
    padding: 20px;
    background-color: aqua;
    width: 500px;
}

.category h2 {
    text-align: center;
}