* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;

}

.box_1 {
    background-color: blanchedalmond;
    border: 2px solid red;
    width: 500px;
    padding: 20px 60px 20px 60px;
}