* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;

}

#container {
    margin: auto;
    width: 50%;
    

}


.box_1 {
    background-color: blanchedalmond;
    border: 2px solid red;
    width: 500px;
    padding: 20px 60px 20px 60px;
}

.box_1 h1 {
    color: red;
}

.box_2 {
    background-color: blanchedalmond;
    border: 2px solid red;
    width: 500px;
    padding: 20px 60px 20px 60px;
}

.category {
    margin-top: 10px;
    border: 2px solid red;
    padding: 20px;
    background-color: aqua;
    width: 500px;
    height: 250px;
}

.category h2 {
    text-align: center;
    
}

#cat1  {
    width: 100px;
    float: left;
}

#cat2  {
    float: left;
    width: 100px;
    margin-left: 50px;
}

#cat3  {
    float: left;
    width: 100px;
    margin-left: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: darkcyan;
    padding: 20px;
}

.items {
    background-color: yellow;
    text-align: center;
    width: 300px;
    border: 2px solid green;
}

.five {
    order: 5;
}

.circle {
    width: 300px;
    height: 300px;
    background-color: red;
    border-radius: 100%;
    padding: auto;
}

.xx {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 100%;
    padding: auto;
    position:relative;
    top: 50px;
    left: 50px;
}

.x {
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 100%;
    position:relative;
    top: 50px;
    left: 50px;
}

