* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid_container {
    display: grid;
    gap: 10px;
    /* grid-template-columns: repeat(3, 1fr 2fr); */
    grid-template-columns: 1fr 2fr 3fr;
}


.one {
    background-color: #eee;
}

.two {
    background-color: #ddd;
}

.three {
    background-color: #eee;
}

.four {
    background-color: #ddd;
}

.container_2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 20px;
}

.parent > div {
    background-color: #ddd;
}

.parent > div:nth-child(even) {
    background-color: #eee;
    box-shadow: 2px 2px 10px lightgray;
}

.parent {
    border: 5px solid red;
    padding: 30px;
    margin-top: 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px auto);
}

.box_1 {
    display: grid;
    grid-row: 1/3;
    grid-column: 1/3;

    border: 2px solid blue;
}

.box_2 {
    display: grid;
    grid-row: 1/3;
    grid-column: 3;

    border: 2px solid orange;
}

.box_3 {
    display: grid;
    grid-row: 3;
    grid-column: 2/4;

    border: 2px solid green;
}

.box_4 {
    display: grid;
    grid-row: 2/4;
    grid-column: 1;

    border: 2px solid yellow;
}