* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

#form_div {
    width: 500px;
    padding: 50px 90px 50px 90px;
    margin: 100px auto auto auto;
    border-radius: 10px;
    background-color: gray;
    box-shadow: inset;
}

.input_divs {
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: black;
    font-weight: bold;
}

.input_style {
    padding: 3px;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(224, 220, 220);
}

button {
    margin-top: 30px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}