* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    animation-name: ani;
    animation-duration: 3s;
    animation-delay: 1s;
    position: relative;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes ani {
    0% {
        background-color: #ffffff;
        top: 0;
        left: 0;

    }

    25% {
        background-color: red;
        top: 0; 
        left: 90%; 
        border-radius: 50px 0 0 0;
    }

    50% {
        background-color: lightcoral;
        top: 500px; 
        left: 90%; 
        border-radius: 50px 50px 0 0;
    }

    75% {
        background-color: lightcoral;
        top: 500px; 
        left:5%; 
        border-radius: 50px 50px 50px 0;
    }

    100% {
        background-color: aquamarine;
        top: 0;
        left: 0;
        border-radius: 100%;

    }
}
