* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.parent_section {
    display: flex;
}

header {
    background-color: black;
    color: #f4f4f4;
    width: 250px;
}

header h1 {
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.nav_btns {
    padding: 15px;
    margin-right: 25px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.nav_btns:hover {
    background-color: #f4f4f4;
    color: black;
    border-left: 4px solid rgb(77, 150, 77);
}

#minimize_btn {
    margin-top: 600px;
}

.aside_section {
    background-color: rgb(255, 255, 241);
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}

.aside_section h1 {
    margin-top: 20px;
    margin-bottom: 30px;


}
/* 
#aside_container {

} */
#overview {
    display: flex;
    justify-content: space-between;
}

.overview_cards {
    background-color: #ffffff;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 10px lightgray;

}

.overview_cards:hover {
    background-color: black;
    color: #ffffff
}

.major_div2 {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#pots_div {
    background-color: #ffffff;
    width: 550px;
    padding: 20px;
    margin-bottom: 20px;
}

#pots_header_div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pots_categories {
    display: flex;
    justify-content: space-between;
}

#saving_jar {
    background-color: rgb(255, 255, 241);
    width: 220px;
    border-radius: 5px;
    height: 100px;
    
}

.saving_card_div {
    display: flex;
    gap: 50px

}


.savings_cards {
    border-left: 4px solid rgb(77, 150, 77);
    padding-left: 15px;
    margin-bottom: 20px;

}

#transactions_div {
    background-color: #ffffff;
    padding: 20px;
}

#transactions_div_header {
    display: flex;
    justify-content: space-between;
}

.history_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid lightgray;
}

.profile_div {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

/* .profile_image_div {
    border-radius: 50%;
    background-color: red;
} */

.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}