* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    line-height: 1.5;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px 30px 50px;
}

.logo {
    width: 200px;
}

.nav_end {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav_btns {
    display: flex;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.nav_btns:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #FF5A5A;


}


.contact_us_btn {
    border: 1px solid black;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
}

.contact_us_btn:hover {
    background-color: black;
    color: white;
    border-bottom: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 30px 50px 30px 50px;
}

h1 {
    font-size: 60px;
}

#hero_text{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 80px;
}

.freepik {
    color: black;
}

.learn_more_btn {
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 250px;
    font-weight: bolder;
}

.learn_more_btn:hover {
    background-color: black;
    color: white;
}

#circle_portrait_holder {
    height: 800px;
 
}

#circle {
    background-color: #00AC92;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    position: relative;
    top: 190px;
    z-index: -1;

}

.portrait {
    width: 600px;
}

#portrait_holder {
    position: relative;
    bottom: 470px;
    right: 20px;

}

.class_schedule {
    padding: 50px;
    background-color: #293331;
    display: grid;
    grid: auto/1fr 1fr 1fr;
    gap: 30px;
    color: white;
}

.schedule_cards{
    border: 2px solid #444A4A;
    padding: 30px;
}

.schedule_cards_imgs_divs {
    background-color: #FF5A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    
}

.schedule_cards_imgs {
    width: 50px;
}

.practice {
    background-color: #00AC92;
}

.schedule_cards p{
    margin-top: 20px;
}

.learn_more {
    padding: 60px 50px 60px 50px;
    display: flex;
    gap: 30px;
}

.learn_more_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.slide_images_div {
    display: flex;
    align-items: center;
}

.slide_btn_divs {
    background-color: #FF5A5A;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 15px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.7;
}

.greater_than {
    background-color: #FF5A5A;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 15px;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    opacity: 0.7;
}


.slide_images {
    width: 450px;
    height: 470px;
}

#slider_div {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;

}

.slider {
    background-color: #4D4D4D;
    height: 3px;
    width: 30px;
}

.certified_section {
    display: flex;
    color: #ffffff;

}

.certified_green {
    background-color: #00AC92;
    padding: 70px 60px 30px 80px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.white_line {
    background-color: #ffffff;
    height: 4px;
}

.stats_divs {
    font-weight: bolder;
    display: flex;
    gap: 30px;
}

.stats {
    font-size: 50px;
    font-weight: 900;
}

.certified_pink {
    background-color: #FF5A5A;
    padding: 70px 60px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.points {
    display: flex;
    align-items: center;
    gap: 20px;
}

.certified_pink_btn {
    border: 1px solid #ffffff;
}

.certified_pink_btn:hover {
    background-color: #ffffff;
    color: #FF5A5A;
}

.what_we_offer {
    background-color: #293331;
    color: #ffffff;
    text-align: center;
    padding: 50px;
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.what_we_offer h2 {
    font-size: 50px;
    font-weight: 900;
}

.what_we_offer_cards {
    display: flex; 
    justify-content: center;
    gap: 35px;
    height: 400px;
}

.what_we_offer_imgs {
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

.pop_up {
    width: 300px;
    height: 150px;
    background-color: black;
    opacity: 0.6;
    padding: 20px 20px 20px 20px;
    text-align: left;
    position: relative;
    bottom: 160px;
    left: 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pop_up p {
    font-size: large;
}

.what_we_offer_freepik {
    color: #ffffff;
}

.london_section {
    display: flex;
    justify-content: center;
    padding: 60px 25px 60px 25px;
    gap: 30px;
}

#big_ben {
    width: 470px;
    height: 550px;
}

/* .london_section_text {
    padding-top: 40px;
} */

.london_section_text h2 {
    padding-top: 30px;
}

.big_ben_btn {
    margin-top: 30px;
    margin-bottom: 45px;
}

.librarian_cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.librarian {
    width: 300px;
}

.what_learners_say {
    background-color: #00AC92;
    color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bx-less-than{
    font-size: 70px;
    font-weight: 900px;
    position: relative;
    top: 70px;
}

.bx-greater-than {
    font-size: 70px;
    font-weight: 900px;
    position: relative;
    top: 70px;
}

.bx-quote-left-alt {
    font-size: 90px;
    font-weight: 900;
}

.comment_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.comment_div h2 {
    font-size: 50px;
    font-weight: 900px;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.circle_slide_div {
    display: flex;
    gap: 10px;
    margin-top: 60px;
}

.circle_slide {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #ffffff;
}

.our_courses_pink {
    background-color: #FF5A5A;
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 200px;
}

.our_courses_pink h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.our_course_freepik {
    color: #ffffff;
}

.our_courses_white {
    text-align: center;
    padding-bottom: 50px;
}

.courses_cards_div {
    text-align: left;
    margin-right: 60px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    position: relative;
    bottom: 100px;

}

.courses_cards {
    background-image: url("/assets/images/med-school-student-works-his-thesis-isolated-mockup-display.jpg");
    width: 250px;
    height: 250px;
    background-size: cover;
    padding: 40px 20px 40px 20px;
    
}

.cost {
    font-size: 30px;
    font-weight: 700;
}

.category {
    font-size: medium;
}

.caption {
    color: black;
    margin-top: 100px;
}

.others {
    margin-top: 30px;
}

.view_all {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-weight: bolder;
}

.view_all:hover {
    background-color: black;
    color: white;
}

.langs_and_courses {
    text-align: center;
    padding-bottom: 60px;
    font-size: large;
}

.langs_and_courses h2 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 50px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 90px;
    margin-right: 60px;
    margin-left: 60px;

}

.container_cards {
    border-bottom: 3px solid #00AC92;
}

.container_cards h3{
    font-size: 30px;
    font-weight: 600;
}

.bx-arrow-right-stroke {
    font-size: 50px;
    color: #00AC92;
    margin-top: 50px;
    margin-bottom: 50px;
}

.company_trainings {
    font-size: large;
}

.company_white {
    height: 500px;
}

.company_dark {
    background-color: #293331;
    height: 500px;
}

.company_pink {
    background-color: #FF5A5A;
    height: 500px;
    width: 900px;
    position: relative;
    bottom: 220px;
    left: 110px;

}

.creative_group_img {
    width: 950px;
    position: relative;
    bottom: 930px;
    left: 220px;
}

.company_training_card {
    background-color: #ffffff;
    padding: 30px;
    width: 600px;
    position: relative;
    bottom: 1190px;
    left: 50px;
}

.company_training_card h3 {
    font-size: 40px;
    font-weight: 800;
}

#last_freepik {
    margin-top: 20px;

}

.company_btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

.team_section {
    background-color: #293331;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.team_section h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

.team_cards_div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #ffffff;
    padding: 40px 20px 40px 20px;
    color: black;
    width: 250px;
}

.headshots {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.comment_section {
    background-color: #293331;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.comment_green {
    background-color: #00AC92;
    height: 350px;
    width: 50px;
    margin-top: 70px;
}

.comment_pink {
    background-color: #FF5A5A;
    height: 400px;
    width: 200px;
    position: relative;
    right: 150px;
    top: 250px;
    z-index: 0;
}

.comment_main {
    background-color: #ffffff;
    display: flex;
    gap: 150px;
    padding: 70px 40px 70px 70px;
    z-index: 3;
}

.comment_main_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 70px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contacts p {
    font-weight: 800;
}

.phone_p {
    margin-top: 30px;
}

.phone {
    color: #FF5A5A;
    font-weight: 800;
}

.email_{
    color: #FF5A5A;
    font-weight: 800;
    margin-top: 50px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.questions h3 {
    font-size: 35px;
}

input {
    width: 350px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
}

textarea {
    width: 350px;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 40px;

}

button {
    background-color: #FF5A5A;
    color: #ffffff;
    padding: 30px 60px 30px 60px;
    width: 350px;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: large;
}

button:hover {
    background-color: #00AC92;
}

footer {
    border-top: 3px solid #4D4D4D;
    color: #ffffff;
    background-color: #293331;
}

.news_letter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.news_letter_text h2 {
    font-size: 40px;
    font-weight: 900;
}

.last_form {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.last_form input {
    padding-bottom: 15px;
    padding-left: 10px;
    margin-bottom: 0px;
    background-color: #293331;
    width: 200px;
    border-bottom: 2px solid #ffffff;
}

.btn2 {
    width: 200px;
    padding: 15px;
}


.footer_cards_div {
    display: flex;
    gap: 150px;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.last_note {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333333;
}