@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=DynaPuff:wght@400..700&family=Jim+Nightshade&family=Kaushan+Script&family=Lovers+Quarrel&display=swap');


@import "tailwindcss";

@theme {
    --font-fdynaPuff: "DynaPuff";
    --font-fkause: "Kaushan Script";
    --font-fc-girls: "Crafty Girls";
    --font-fjim: "Jim Nightshade";
    --font-flovers: "Lovers Quarrel";
}