* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D0D0D;
    color: #ffffff;
    font-family: "Helvetica";
}

 h1 {
    font-size: 60px;
    font-weight: 700;
 }

h2 {
    font-size: 48px;
    font-weight: 700;
}


#page_header {
    text-align: center;
    margin-top: 30px;

}

.food_tuck_yellow {
    color: #FF9F0D;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
    margin-left:100px;
    margin-bottom: 20px;
}

ul {
    display: flex;
    gap: 20px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

ul li a:hover {
    border-bottom: 2px solid #FF9F0D ;
}
#about {
    border: none;
    outline: none;
    background-color: #0D0D0D;
    color: #ffffff;
 }

 .search_btn_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #FF9F0D;
    border-radius: 25px;
    padding: 7px;
    width: 300px;
 }

 #search_input {
    outline: none;
    background-color: #0D0D0D;
    color: #ffffff;
    border: none;
 }

 .last_nav {
    display: flex;
    align-items: center;
    gap: 10px;
 }

 .bx {
    font-size: 20px;
 }

 .bx-search-big {
    font-size: 30px;
 }

 .hero_section {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("/assets/images/unsplash_lP5MCM6nZ5A.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

 }

 .socials_mother_div {
display: flex;
flex-direction: column;
gap: 40px;
align-items: center;
 }

 .social_white_line {
    background-color: #ffffff;
    width: 1px;
    height: 100px;
 }

 .socials_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }


.hero_text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero_text h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    color: #FF9F0D;
    font-weight: 400;
 }

 .common_btn {
    background-color: #FF9F0D;
    width: 150px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;

 }

 .common_btn a {
    color: #ffffff;
    text-decoration: none;
 }

 #hero_image {
    width: 600px;
 }

 .about_grid {
    padding-top: 70px;
    padding-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px auto);
    margin-left: 100px;
    margin-right: 100px;
    gap: 50px;
 }

 .about_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .about_text h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;

 }

 .about_ticks {
    display: flex;
    align-items: center;
    gap: 10px;
 }

.sandwiches_div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.eggs {
    width: 510px;
    height: 250px;
    object-fit: cover;
}


.sandwiches {
    width: 250px;
}

.food_category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.food_category_headers {
    text-align: center;
}

.food_category_headers h3{
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.food_category_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px auto);
    gap: 20px;
    margin-top: 50px;
}

.food_cat_image_div_1 {
    background-image: url("/assets/images/unsplash_-lHZUkiWM74.png");
    height: 215px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.save_percent_div {
    text-align: center;
    background-color: #ffffff;
    color: #FF9F0D;
    font-size: 10px;
    padding: 5px;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 5px;

}

.fast_food_dish_div {
    background-color: #FF9F0D;
    padding: 5px;
    margin-right: 60px;
    border-radius: 5px;
    margin-top: 10px;
}

.food_cat_images{
    width: 200px;
}

.why_choose_us_section {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.why_choose_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px auto);
}

.why_choose_image_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
    gap: 15px;
}

.why_choose1 {
    grid-column: 1/4;
    grid-row: 1/4;
}
.why_choose2 {
    grid-column: 4/6;
    grid-row: 2/4;
} 

.why_choose3 {
    grid-row: 2;
    grid-column: 1/3;
    grid-row: 4/7;
}

.why_choose4 {
    grid-column: 3/5;
    grid-row: 4/6;
   
 
}

.why_choose5 {
    grid-column: 5/6;
    grid-row: 4/5;

}

.why_choose6 {
    grid-column: 5/6;
    grid-row: 5/6;
}

.first_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.second_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.third_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fourth_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fifth_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sixth_div_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.why_choose_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.why_choose_text h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;

}

.all_vectors_div {
    display: flex;
    gap: 30px;
}

.vectors_div {
    text-align: center;
}

.why_vectors {
    background-color: #FF9F0D;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.why_choose_stats {
    display: flex;
    background-color: #ffffff;
    color: #0D0D0D;
    width: 350px;
    justify-content: center;
    border-radius: 5px;
    border-left: 5px solid #FF9F0D;
    align-items: center;
    gap: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#exp {
    font-weight: 700;
    font-size: 24px;
}

.clients_section {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/unsplash_bpPTlXWTOvg.png");
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.client_vectors_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.client_vectors {
    width: 70px;
}

.choose_and_pick_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;
}

.choose_and_pick_section_header {
    text-align: center;
}

.choose_and_pick_section  h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.choose_and_pick_section_nav {
    text-align: left;
    margin-right: 150px;
}

.choose_and_pick_section_nav ul {
    gap: 80px;
}

.menus_div {
    display: flex;
}

.menue_plate_div {
    position: relative;
}

.green_leaf {
    width: 400px;
}

.menu_plate {
    position: absolute;
    right: 60px;
    width: 300px;
}

.sample_menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menus {
    display: flex;
    height: 50px;
    gap: 5px;

}

.menu_images {
    width: 50px;
}

.menu_prices p {
    font-size: 14px;
}

.chefs_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    gap: 20px;
}

.chefs_section_header {
    text-align: center;
}

.chefs_section_header h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.chefs_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.chef_headshots {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tag {
    color: #0D0D0D;
    background-color: #ffffff;
    width: 150px;
    position: relative;
    bottom:60px;
    padding: 10px;
}

.tag h4 {
    font-size: 18px;
} 

.tag p {
    font-size: 14px;
} 

.chef_see_more_btn  {
    border: 1px solid #FF9F0D;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.chef_see_more_btn a {
    text-decoration: none;
    color: #ffffff;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}

.testimonials_header {
    margin-right: 100px;
}

.testimonials h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.testimonials_text {
    background-color: #ffffff;
    color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    gap: 20px;
}

.ellipse {
    width: 70px;
    position: absolute;
    bottom: 300px;
}

.testimonials_text p {
    font-size: 16px;
}

.testimonials_leaf {
    position: absolute;
    width: 320px;
    left: 470px;
    top: 20px;
}

.testimonials_slide_div {
    display: flex;
    gap: 10px;
}

.testimonials_slide {
    width: 15px;
    height: 15px;
    background-color: #563A0E;
    border-radius: 100%;
}

.testimonials_slide:hover {
    background-color: #FF9F0D;
}

.active_process {
    text-align: right;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/assets/images/unsplash_E6DsqnZbZ4o.png");
    background-size: cover;
    margin-top: 50px;
    padding: 50px 100px 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.active_process h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.active_p {
    font-size: 16px;
}

.active_process_btn_div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.active_read_more_btn {
    border: 1px solid #FF9F0D;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
}

.active_read_more_btn a {
    text-decoration: none;
    color: #ffffff;
}

.play_btn_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play_btn {
    background-color: #FF9F0D;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog_post_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.blog_post_section_header{
    text-align: center;
}

.blog_post_section h3 {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    font-weight: 400;
    color: #FF9F0D;
}

.blog_post_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.blog_item {
    border: 1px solid #ffffff;
}

.blog_post_images {
    height: 200px;
    width: 240px;
    object-fit: cover;
}

.blog_post_text {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.date {
    color: #FF9F0D;
    font-size: 16px;
    font-family: "Inter";
}

.last_blog_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.support_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    border-bottom: 1px solid #FF9F0D;
    padding-bottom: 50px;
}

.footer_form {
    background-color: #FF9F0D;
    border-radius: 5px;
}

#support_input {
    color: #ffffff;
    background-color: #FF9F0D; 
    padding-left: 10px;
    width: 210px;
    border: none;
    outline: none;

}

button {
    padding: 10px;
    color: #FF9F0D;
    border-radius: 5px;
    border: none;
}

.footer_black {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.first_footer_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer_list {
    display: flex;
    flex-direction: column;
}

.open_hours {
    display: flex;
    gap: 10px;
}

.clockwise_div {
    background-color: #FF9F0D;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.times {
    font-size: 11px;
}

.footer_headers {
    margin-bottom: 20px;
}

.recent_post_div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

}

.footer_images {
    width: 50px;
    height: 50px;
}

.footer_date_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.footer_date {
    color: #848484;
    font-size: 12px;
}

.footer_yellow {
    background-color: #FF9F0D;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 30px;
}

.footer_socials {
    display: flex;
    gap: 20px;
}

.socials_box {
    background-color: #ffffff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_leaf {
    position: absolute;
    width: 200px;
    bottom: 0px;
    right: 0px;
}

/* ======== MEDIA QUERIES ========== */

@media (max-width: 768px) {

    ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

    h1 {
    font-size: 40px;
    font-weight: 700;
 }

    h2 {
        font-size: 28px;
        font-weight: 700;
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .hero_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hero_image {
    width: 400px;
 }

    .socials_mother_div {
        display: none;
    }

    .about_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_grid {
        display: flex;
        flex-direction: column;
    }

    .about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
 }

    .about_images_div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .eggs {
    width: 310px;
    height: 250px;
    object-fit: cover;
}


    .sandwiches {
    width: 150px;
}

    .food_category_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .why_choose_us_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    .why_choose_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .why_choose_grid {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .clients_section {
        display: grid;
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    /* .choose_and_pick_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 40px;
} */

.choose_and_pick_section_nav ul {
    gap: 20px;
}

    .menus_div {
    display: flex;
    flex-direction: column;
}
    .sample_menus {
    display: flex;
    flex-direction: column;

    
}

    .chefs_grid {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap:5px;
}

.testimonials {
    padding-left: 200px;
    padding-right: 200px;
}

.testimonials_leaf {
    position: absolute;
    width: 320px;
    left: 70px;
    top: 20px;
}

    .ellipse {
    bottom: 420px;
}

    .active_process {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

    .blog_post_grid {
    display: grid;
    grid-template-columns: 1fr;
}

    .support_div {
    display: flex;
    flex-direction: column;

}

    .footer_black {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .footer_yellow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

}

@media (max-width: 360px) {
    
}