* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fa;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.nav_bar {
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 0 2px lightgrey;
}

.logo {
    display: flex;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx-chevron-left {
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;
}

form {
    display: flex;
    border: 1px solid black;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}

.search_div {
    display: flex;
    align-items: center;
}

input {
    outline: none;
    border: none;
}

.right_png {
    margin-top: 5px;
}

.last_nav_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_icons {
    display: flex;
    gap: 10px;
}

.upgrade_btn {
    color: #ffffff;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #2563EB;
}

.mh_circle {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_bar {
    border: 1px solid #DADEE6;
    grid-column: 1/2;
    grid-row: 2/13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

.aside1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #DADEE6;
}

.avatars_text_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .avatars_tex {
    width: 40px;
} */

.avatars_image_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar_images {
    width: 40px;
}

/* .aside2 { remeber to come back!!!
} */

.johnsmith_card {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #DADEE6;
    gap: 40px;
    border-radius: 5px;
}

.johnsmith_details {
    display: flex;
    gap: 10px;
}

.navigate_cards {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigate_cards:hover {
    background-color: #4F46E5;
    color: #ffffff;
}

.nav_icon_div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.main {
    background-color: rosybrown;
    grid-column: 2/7;
    grid-row: 2/13;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 60px 1fr; */
}

.main_top {
    border: 1px solid #DADEE6;
    
}

.main_bottom {
    background-color: chartreuse;
}

.footer_bar {
    background-color: blueviolet;
    grid-column: 1/7;
}