* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f8fa;
    font-size: 12px;
    font-weight: 700;
    color: #475166;
    font-family: "Helvetica";
}

.bx {
    color: #98A1B3;
}

.bxl {
    color: #98A1B3;
}

#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

.nav_bar {
    grid-column: 1/6;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 0 2px lightgrey;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    border: 1px solid #DADEE6;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bx-chevron-left {
    font-size: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: #98A1B3;
}

form {
    display: flex;
    border: 1px solid #DADEE6;
    width: 300px;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.search_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    outline: none;
    border: none;
    width: 100px;
    background-color: #f7f8fa;
}

.right_png {
    margin-top: 5px;
}

.last_nav_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_icons {
    display: flex;
    gap: 10px;
}

.upgrade_btn {
    color: #ffffff;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #2563EB;
}

.mh_circle {
    width: 45px;
    height: 45px;
    border: 1px solid #DADEE6;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aside_bar {
    border: 1px solid #DADEE6;
    grid-column: 1/2;
    grid-row: 2/9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-rows: minmax(100px, auto); */
}

.aside1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #DADEE6;
}

.avatars_text_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .avatars_tex {
    width: 40px;
} */

.avatars_image_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar_images {
    width: 40px;
}

.aside2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.johnsmith_card {
    display: flex;
    padding: 10px;
    align-items: center;
    border: 1px solid #DADEE6;
    gap: 40px;
    border-radius: 5px;
}

.johnsmith_details {
    display: flex;
    gap: 10px;
}

.navigate_cards {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navigate_cards:hover {
    background-color: #4F46E5;
    color: #ffffff;
}

.nav_icon_div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.aside2_bottom_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DADEE6;
    border-radius: 5px;
    gap: 10px;
}

.aside2_socials {
    display: flex;
    align-items: center;
}

.main {
    grid-column: 2/7;
    grid-row: 2/9;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 40px 1fr;   */
    padding: 30px;
}

.main_top {
    border: 1px solid #DADEE6;
    display: flex;
    justify-content: space-between;

}

.main_top_nav {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 10px;
}

.main_top_icons_divs {
    display: flex;
    gap: 10px;
    align-items: center;
}

.main_top_search {
    width: 200px;
    margin-right: 10px;  /* Remember to change this*/
}

.main_bottom {
    border: 1px solid #DADEE6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr;
    padding: 20px;
    gap: 20px;
}

.main_bottom_header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.main_bottom_header_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #DADEE6;
    padding: 10px;
}

.color_box_div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color_box {
    background-color: #06B6D4;
    width: 11px;
    height: 11px;
    border-radius: 2px;
}

.yello {
    background-color: #EAB308;
}

.purple {
    background-color: #6366F1;
}

.green {
    background-color: #22C55E;
}

.five {
    border: 1px solid #DADEE6;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five_circle {
    border-radius: 100%;
}

.dots_and_plus_divs {
    display: flex;

    gap: 10px;
}

.main_bottom_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 70px);
    grid-auto-rows: minmax(100px, auto);
    /* grid-auto-rows: minmax(100px, auto); */
    gap: 10px 15px;
    position: relative;
}

.first_card_type {
    border: 1px solid #DADEE6;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task_card_avatar_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second_card_type {
    border: 1px solid #DADEE6;
}

.task_image {
    width: 200px;
}

.card_texts_div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_bottom_icons {
    display: flex;
    gap: 20px;
}

.bottom_icons_divs {
    display: flex;
    gap: 5px;
}

.second_card_type_1 {
    grid-row: 1/4;
}

.second_card_type_2 {
    grid-row: 2/5;
}

.first_card_type_5 {
    grid-row: 5/6;
    grid-column: 2/3;
}

.first_card_type_6 {
    grid-row: 4/5;
}

.first_card_type_7 {
    grid-row: 5/6;
}

.first_card_type_8 {
    grid-row: 6/7;
}

.first_card_type_9 {
    grid-row: 7/8;
}

.first_card_type_10 {
    grid-row: 8/9;
}

.third_card_type_1 {
    border: 1px solid #DADEE6;
    grid-column: 2/3;
    display: grid;
    /* grid-auto-rows: minmax(70px auto); */

}

.third_card_type_2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.third_card_type_2_icons {
    display: flex;
    justify-content: space-between;
}

.save_btn {
    background-color: #4F46E5;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.last_card {
    border: 1px solid #DADEE6;
    position: absolute;
    width: 300px;
    right: 30px;
    bottom: 30px;
}

.last_card_header_main {
    padding: 20px;
}

.last_card_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.last_card_header_2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.burnt_orange {
    background-color: #F97316;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

.task_stats {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

/* .stats {
    margin-bottom: 20px;
} */

.stats_icons_div {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

.time_schedule {
    border-top: 1px solid #DADEE6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0px 15px;
}

.schedule {
    display: flex;
    gap: 30px;
}

.schedule_stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.pause_div {
    background-color: #6366F1;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ############## */
.footer_bar {
    border: 1px solid #DADEE6;
    grid-column: 1/7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.socials {
    display: flex;
    gap: 10px;
}

.footer_socials {
    border: 1px solid #DADEE6;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.language_div {
    display: flex;
    border: 1px solid #DADEE6;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}