* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.positioning {
    width: 700px;
    height: 1000px;
    background-color: bisque;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.items {
    width: 100px;
    height: 100px;
}

.item1 {
    background-color: aqua;
    position: sticky;
    top: 20px;
}

.item2 {
    background-color: coral;
    /* position: relative;
    top: 30px;
    left: 30px; */
    position: absolute;
    bottom: 30px;
}

.item3 {
    background-color: crimson;
    /* position: absolute; */
    width: 300px;
    height: 300px;
}